@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default
 }

@theme {
  --color-csf-verde: #88BD24;
  --color-csf-azul: #164899;
  
}

 .container {
    width: 100%;

  }
    @media (width >= 40rem) {
      
       .container{

         max-width: 40rem;
       }
    }
    @media (width >= 48rem) {
        .container{max-width: 48rem;}
    }
    @media (width >= 64rem) {
       .container{max-width: 64rem};
    }
    @media (width >= 80rem) {
        .container{max-width: 80rem};
    }
    @media (width >= 90rem) {
       .container{max-width: 90rem};
    }
.back_body{
  background-image: url('./assets/images/bg-land.jpg');
  background-size: cover;
}
  
.bacgk_login{
  background-image: linear-gradient(90deg, #17439d 0%, #2d67bd 100%);
}

