@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }


 @theme {
  --color-csf-verde: #88BD24;
  --color-csf-azul: #164899;
}