@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@theme {
  --color-csf-verde: #88BD24;
  --color-csf-azul: #164899;
}
.divider--menu{
    background: white;
    opacity: 0.4;
}
.btn-close {
    --size: auto !important;
    --btn-bg: transparent !important;
    --btn-fg: transparent !important;
    --btn-p: 1rem;
}
